.main{
    background-image: url(../public/background-images/backgroundMountain.jpg);
    background-image: ;    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    transform: scaleY(-1);
}

.test{
    transform: scaleY(-1);
}


.line{

}

.heading{

}


.header{

}

.fieldset{

}