
.main{
background-image: url(../public/background-images/backgroundMountain.jpg);
height: 100vh;
width: 100vw;
 background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}



.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 30rem;
}

.button{
background-color: transparent;
border: 0.2rem solid var(--beige);
height: 2.5rem;
width: 9rem;
font-size: 1rem;
border-radius: 0.75rem;
}

