.main{
background-image: url(../public/background-images/backgroundMountain.jpg);
height: 100vh;
width: 100vw;
 background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}



.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.button{
height: 40px;}