:root{
    --black: #000000;
    --background-teal: #053330;
  
    --primary-color: #fff;
    --beige: #f4d6b9;
    --ternary-color: #7796A4;
    --teal: #14343d;
    --quinary-color: rgba(16,46,53,0.5);
    }
    